<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h1 style = "text-align: center; font-family: fantasy; font-weight: 500;">
        Your advice is: {{ advice }}
    </h1>
    <img style = "display: block; margin-left: auto;margin-right: auto; width: 50%;" src = "https://t3.ftcdn.net/jpg/02/99/06/90/360_F_299069075_UrxN7mV2GRuqiC6J1fOhdWJH65p1s2XD.jpg">
</body>
</html>